<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - High Energy Astrophysics</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
        @@font-face {
            font-family: 'Century Gothic';
            src: url('https://fonts.cdnfonts.com/s/72921/CooperBlack.woff') format('woff');
        }

        .navbar-light.bg-white {
            background-color: white !important;
        }

        .navbar-brand, .navbar-nav .nav-link, .nav-separator {
            color: black !important;
            font-family: 'Century Gothic', serif;
            font-weight: bold;
        }

        .navbar-brand {
            font-size: 2.5rem;
        }

        .navbar-nav .nav-link {
            font-size: 1.5rem;
            text-transform: uppercase;
        }

        .nav-separator {
            font-size: 1.5rem;
            padding: 0 10px;
            display: flex;
            align-items: center;
        }
    </style>
</head>
<body class="d-flex flex-column min-vh-100 @(ViewData["IsHomePage"] != null && (bool)ViewData["IsHomePage"] ? "homepage-bg" : "")">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HIGH ENERGY ASTROPHYSICS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-separator">|</li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CourseNotes">Course Notes</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="container-fluid flex-grow-1">
        @RenderBody()
    </main>
    <footer class="text-white text-center py-3" style="background-color: #000000;">
        <p>&copy; 2025 - High Energy AstroPhysics</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
