@{
    ViewData["Title"] = "Home Page";
    ViewData["IsHomePage"] = true;
}

<div class="homepage-background d-flex flex-column justify-content-start align-items-center" style="min-height: 80vh;">
    <div class="text-center p-8 rounded-lg mt-5">
        <h1 class="font-bold font-[Century Gothic] text-white mb-4" style="font-size: 70px;">
            • Welcome To High Energy Astrophysics Web Page •
        </h1>
        <h2 class="font-bold font-[Century Gothic] text-white mb-4" style="font-size: 40px;">
            🌑🌒🌓🌔🌕🌖🌗🌘
        </h2>
        <h3 class="font-bold font-[Century Gothic] text-white" style="font-size: 40px;">
            ⭐Please Register To Access High Energy Astrophysics Course Notes⭐
        </h3>
    </div>
</div>